@import '_tools';

// || GENERAL

html {
    -webkit-text-size-adjust: 100%; // Prevent adjustments of font size after orientation changes in iOS.
    box-sizing: border-box;
 }

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: #404040; // delete
}

.window {
    position: relative;
    background-color: white;
    padding: 15px;
    font-size: rem(20px);
    overflow-wrap: break-word;
    letter-spacing: 2px;
    font-weight: 400;
    max-width: 600px;
    margin: 25px auto;

    &__layer {
        position: absolute;
        display: inline;
        top: 15px;
        left: 15px;
        color: rgba(255,255,255,.5);
        z-index: 10;
        line-height: 2rem;
        overflow-wrap: break-word;
        max-width: 570px;
    }

    &__text {
        margin: 0;
        z-index: 5;
        line-height: 2rem;
        overflow-wrap: break-word;
    }

    &__shadow-text {
        display: inline;
        color: rgba(255,255,255,.5);
        z-index: 10;
        line-height: 2rem;
        overflow-wrap: break-word;
        margin: 0;
        position: relative;

        &:after {
            content: ' ';
            position: absolute;
            display: inline-block;
            right: 0px;
            width: 0px;
            height: 100%;
            border-right: 3px solid black;
            z-index: 15;
        }
    }
}