.post {
    font-family: $font-first;

    &__link {
        text-decoration: none;
        color: inherit;
        transition: ease-in .3s;

        &--img {
            flex: 1 33%;
            width: 100%; // delete
            height: 150px; // delete
        }

        &--big-img {
            width: 100%; // delete
            height: 150px; // delete
        }

        &--main:hover {
            color: $color-main;
        }
        &--dark:hover {
            color: #621055;
        }

        &--avatar {
            display: inline-block;
            border-radius: 50%;
            background-color: $bg-color-img;
            width: 40px;
            height: 40px;
            line-height: 40px;
            margin-right: 4px;

            // Center all text on middle (baseline)
            &:before {
                content: "s";
                opacity: 0;
                font-size: 1px;
            }
        }
    }  
    
    &__top-title {
        font-size: rem(17px);
        font-weight: 700;
        margin: 0;

        &--main {
            font-size: rem(20px);
        }
    }

    &__meta {
        font-family: $font-second;
        color: $color-post-credits;
        font-size: rem(13px);
        font-weight: 400;
        margin-top: 16px;
        vertical-align: baseline;
    }

    &__read {
        font-size: rem(16px);
        font-weight: 700;
        color: $color-main;
        margin-top: 16px;
    }

    &__text {
        font-family: $font-second;
        margin: 16px 0;
        font-size: rem(14px);
        font-weight: 400;
        color: $color-post-text;
    }

    &__img {
        display: block;
        height: 100%;
        margin-right: 15px;
        background-color: $bg-color-img;
        color: rgba(255,255,255,0.8);
        border-radius: 5px;
    }

    &__side {
        flex: 1 66%;
        padding-right: 15px;

        &--big {
            width: 100%;
            margin-top: 24px;
        }
    }

    &--big {
        flex-flow: column wrap;
    }
}

@media (min-width: 768px) {
    .post {  
        &__link {    
            
            &--img {
                max-width: 100px; //delete
                height: 100px; // delete
            }

            &--big-img {
                flex: 1;
                height: 230px; // delete
            }
        }

        &--big {
            flex-flow: row wrap;
        } 

        &__side {
            &--big {
                flex: 1;
                margin-top: 0;
                padding: 0 15px;
            }
        }
    }
}