.board {
  color: rgba(0, 0, 0, .87);
  max-width: 300px;
  margin: 1rem auto;
  padding: 1rem 1rem;
  border-radius: .3rem;
  background: #fff;
  border: 1px solid rgba(34, 36, 38, .15);
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  display: inline-block;
  margin: 0;
  line-height: 45px;
  font-size: 1.1rem;
  font-weight: 400;
}

.input {
  width: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
  background: #fff;
  outline: none;
  border: 1px solid rgba(34, 36, 38, .15);
  color: rgba(0, 0, 0, .87);
  border-radius: .3rem;
  box-shadow: none;
  
  font-size: 1rem;
}

.input:focus {
  border-color: #85b7d9;
  color: rgba(0, 0, 0, .8);
}