.container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;

    &__item {
        margin: 0 0 32px 0;
        flex: 1 100%;
        height: auto;
        
        &--first {
            max-height: 400px;
            flex: 1 100%;
        }

        &--small {
            flex: 1 100%;
            max-width: none;
        }
    }

    &__img-article {
        margin-bottom: 18px;
        min-height: 400px;
        height: 60%;

        &--first {
            height: 100%;
        }
    }
}

@media (min-width: 768px) {
    .container {
        &__item {
            flex: 1 ;
            padding: 0 15px;
    
            &--first {
                flex: 2 100%;
            }

            &--small {
                flex: 0 315px;
            }
        }
    }  
}

@media (min-width: 992px) {
    .container {
        &__img-article {
            min-height: 327px;

            &--small {
                min-height: 227px;
            }
        }
        &__item {
            flex: 1 ;
            padding: 0 15px;
            
            &--first {
                flex: 2; 
                max-height: none;
            }
        }
    }  
}