// || Colors

$color-main: #b52b65;
$color-title: #232222;
$color-small: rgba(255, 255, 255, 0.8);
$color-text-white: white;
$color-post-credits: #555;
$color-post-text: #777;

$bg-color-img: #ccc;

// || Fonts

$font-first: 'Playfair Display', serif;
$font-second: 'Montserrat', sans-serif;