// || MAIN COLORS

$color-main: #151965;
$color-secondary: #ff8556;

// Background colors

$bg-color-light: #fafafa;
$bg-color-white: white;

// Other Colors

$color-title: #0f0f1a;
$color-text: #6c757d;
$color-white: white;
$color-nav: rgba(25, 51, 101, 0.5);
$color-border: #eee;
