// || MIXINS

//  1. Add outline to element
@mixin frame1 {
    outline: 1px solid blue;
  }
@mixin frame2 {
    outline: 1px solid red;
}

@mixin form-style {
  font-family: inherit;
  font-size: inherit;
  padding: 12px 15px;
  border: 1px solid $color-border;
  transition: border 0.3s;
  background-color: white;
  border-radius: 5px;
}

// || FUNCTIONS

// || 1. recalc 10px = 1 em

$browser-context: 16;

@function em($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1em;
}

// || 2. recalc 10px = 1 rem

@function rem($pixels, $context: $browser-context) {
    @if (unitless($pixels)) {
      $pixels: $pixels * 1px;
    }
  
    @if (unitless($context)) {
      $context: $context * 1px;
    }
  
    @return $pixels / $context * 1rem;
  }