// || VARIABLES

$color-income: #28B9B5;
$color-expenses: #FF5049;
$color-title-text: white;
$color-name: #444;
$color-add: #f7f7f7;
$color-border:#e7e7e7;
$color-text: #555;

@import '_tools';

// || GENERAL

html {
    -webkit-text-size-adjust: 100%; // Prevent adjustments of font size after orientation changes in iOS.
    box-sizing: border-box;
 }

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: #404040; // delete
}

@import 'components/_budget';
@import 'components/_add';
@import 'components/_budget-list';


.container {
    max-width: 1000px;
    padding: 60px 0;
    margin: 0 auto;
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    
}
.wrap {
    background-color: white;
} 

.right {
    float: right;
}